*.iml
.gradle
local.properties
.idea
.DS_Store
build
captures
.cxx
key.jks
key.jks.base64.txt
.vscode
.kotlin
app/src/main/resources/
private
.claude
*.keystore
*.apk
test_*/toolchain/
/zlib-1.3.1/
/zlib.tar.gz
/KernelPatch-0.13.1/
/kpimg-repo/
/*.bin
